.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.jk-cart {
display: flex;
align-items: center;
}
.jk-cart>div {
position: relative;
}
.jk-cart>div>u {
    position: absolute;
    right: -1rem;
    top: 0rem;
    font-size: 0.7em;
    background-color: red;
    display: flex;
    align-items: center;
    color: white;
    min-width: 1rem;
    padding: 0 3px;
    height: 1.0rem;
    text-align: right;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.6rem;
}

.text-danger-1 {
    color: #ffc0c0;
}
.text-danger-2 {
    color: #ff8080;
}
.text-danger-3 {
    color: #ff4040;
}
.sep-product-select {
    border-top: 1px solid #f0f0f0;
}
