li.va-row {
  display: flex;
  flex-direction: row;
  padding: 4px 6px;
  margin-bottom: 1px;
  background-color: white;
  align-items: center;
}
li.va-row.icon {
align-items: flex-start;
}
li.va-row>header {
  position: relative;
  border: none;
  background: none;
  width: 40px;
  display: flex;
  padding: 4px 2px;
  align-items: center;
  justify-content: center;
}
li.va-row.icon>header {
  position: relative;
  display: block;
  border-radius: 6px;
  height: 40px;
  margin: 4px 4px 4px 4px;
  padding: 0px;
  border: 1px solid lightblue;
  background-color: lightblue;
}
li.va-row>header>img {
  width: 100%;
  height: 100%;
}
li.va-row>header>b {
  position: absolute;
  left: 30px;
  top: -2px;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  border-radius: 9px;
  background-color: red;
  color: white;
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
}
li.va-row.icon>header>b {
  top: -6px;
}
li.va-row>header>b.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  left: 35px;
  top: 0px;
}
li.va-row>div {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 0px 4px 0px 12px;
  min-width: 200px;
}
li.va-row>div.none {
  border-bottom:none;
}
li.va-row>div>div {
  flex: 1;
  height: 1.5em;
  overflow: hidden;
  font-weight: bold;
}
li.va-row>div>span {
  display: flex;
  font-size: 12px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5em;
  color: gray;
}
li.va-row>footer {
    display: flex;
}
li.va-row.va-action {
  cursor: pointer;
}

/* schema form 用到的css */
.form-row-checkbox {
	margin-left: -10px;
	width: 2em;
	text-align: left;
  }
  .form-row-checkbox input {
	height: 1.1em;
	width: 1.1em;
  }
  .form-row-edit {
	margin-right: -10px;
	width: 2em;
	text-align: right;
  }
  .cursor-pointer {
	cursor: pointer;
  }
  .row-selected label {
	font-weight: bold;
  }
  .required-item {
	border-color: #007bff;
  }
  .deleted, .deleted label, .deleted input {
	text-decoration: line-through rgb(255, 127, 127);
	color: gray;
  }
  .w-1c {
	width: 1em;
  }
  .w-min-1c {
	min-width: 1em;
  }
  .w-max-1c {
	max-width: 1em;
  }
  .w-2c {
	width: 2em;
  }
  .w-min-2c {
	min-width: 2em;
  }
  .w-max-2c {
	max-width: 2em;
  }
  .w-4c {
	width: 4em;
  }
  .w-min-4c {
	min-width: 4em;
  }
  .w-max-4c {
	max-width: 4em;
  }
  .w-6c {
	width: 6em;
  }
  .w-min-6c {
	min-width: 6em;
  }
  .w-max-6c {
	max-width: 6em;
  }
  .w-8c {
	width: 8em;
  }
  .w-min-8c {
	min-width: 8em;
  }
  .w-max-8c {
	max-width: 8em;
  }
  .form-inline label.form-check-inline {
	display: inline-flex;
	vertical-align: middle;
	padding-left: 0.75em;
	padding-right: 0.75em;
  }
  .form-check-inline {
	justify-content: center;
	align-content: center;
  }
  .form-radio-inline {
	display: inline-flex;
	align-items: center;
	padding-top: 0.375em;
	padding-bottom: 0.375em;
	padding-right: 0.75em;
	margin-bottom: 0;
	height: calc(2.25rem + 2px);
	line-height: 1.5;
  }
  span.form-radio-inline {
	padding-left: 0.75em;
	vertical-align: middle;
  }
  .form-check-inline input, .form-radio-inline input {
	height: 1.2em;
	width: 2em;
	vertical-align: middle;
  }
  fieldset.edit-container {
	display: block;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-block-start: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	padding-block-end: 0;
	min-inline-size: min-content;
  }
